<form action="/" method="post" style="margin:left=50px; margin:right=20px;">
    {% csrf_token %}
	<div class="form-group">
    	<label for="user_name">User Name</label>
    	<input type="text" class="form-control" id="user_name" type="text" name="user_name" placeholder="user_name input">
    </div>
    <div class="form-group">
    	<label for="location">Enter Your Location</label>
    	<input type="text" class="form-control" id="location" name="location" >
  	</div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  </div>
  	 <div class="form-group">
    	<label for="title">Enter Title</label>
    	<input type="text" class="form-control" id="title" name="title"  >
  	</div>

  <div class="form-group">
    <label for="description">Enter Your Content</label>
    <textarea class="form-control" id="description" type="text" name="description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
