<div class="header">
    	    <div class="header-left" >
        	    <li style="padding-left:5%;"><a routerLink="#"  >psd</a></li>
            </div>
        	<div class="header-right" style="padding-top:1.5%;font-size:150%;" > 
            	<li style="padding-left:10%;" ><a routerLink="#"  >Home</a> </li>  
            	<li style="padding-left:3%;" ><a routerLink="#"  >About</a> </li>
            	<li style="padding-left:3%;" ><a routerLink="#"  >Events</a> </li>
            	<li style="padding-left:3%;"  ><a routerLink="#"  >Contact_Us</a> </li>
            	<li style="padding-left:3%;" ><a routerLink="#"  >SignUp</a> </li>
            	<li style="padding-left:3%; " ><a routerLink="#"  >Login</a> </li>
        	</div>
       </div>
