<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<div style = "display: flex;margin-bottom:200px">
    	<div style = "text-align:left; width:80%; "><b>Welcome</b> <span style="color:blue;font-size: 200%;"><b>{{ user.username }}!</b></span></div>
		<div style="text-align:right;  float:right;width:80%;font-size: 150%; "><a href="{% url 'movies:logout' %}">Logout</a></div>
	</div>
	<div style = "display: flex;margin:300px;align: center; border:solid; padding:80px;">
		<div style="text-align:center;  float:right;width:50%;font-size: 150%; "> <a href="{% url 'movies:service_request' %}"> Add New Request </a> </div>
		<div style="text-align:center;  float:right;width:50%;font-size: 150%; "> <a href="{% url 'movies:view_service_request' %}"> View Your Requests </a> </div>
	</div>

{% else %}
<div style="align:center;margin-top:300px;margin-bottom:300px;margin-left:40%;">
  <p style="font-size:40px;">You are not logged in</p>
  <button style="margin-left:60px;font-size:20px;"><a href="{% url 'movies:login' %}">Login</a></button>
  <button style="margin-left:50px;font-size:20px;"><a href="{% url 'movies:register' %}">Register</a></button>
</div>
{% endif %}
{% endblock %}