{% extends 'base.html' %}

{% block title %}add New service Request{% endblock %}

{% block content %}
	{% if msg %}
		<h2 style = "margin-bottom:50px;">Hi <span style="color:blue;font-size: 150%;">{{ user.get_username }}</span>, You request has been recieved successfully.</h2>
		<div>
		   <div><p style= "text-align:center;"><button style= "margin-top:20px;padding-left:40px;padding-right:40px;font-size:25px;background-color:#0000FF;-webkit-border-radius:28px;-moz-border-radius:28px;"> <a style="color:white;text-decoration: none;" href="{% url 'movies:service_request' %}"> New Request </a> </button></p></div>
		   <div><p style= "text-align:center;"><button style= "margin-top:20px;padding-left:40px;padding-right:40px;font-size:25px;background-color:#0000FF;-webkit-border-radius:28px;-moz-border-radius:28px;"> <a style="color:white;text-decoration: none;" href="{% url 'movies:home' %}"> Go Homepage </a> </button></p></div>
		   <div><p style= "text-align:center;"><button style= "margin-top:20px;padding-left:40px;padding-right:40px;font-size:25px;background-color:#0000FF;-webkit-border-radius:28px;-moz-border-radius:28px;"> <a style="color:white;text-decoration: none;" href="{% url 'movies:view_service_request' %}"> View Your Requests </a> </button></p></div>
		</div>
	{% else %}
	
  <h2 style = "margin-bottom:50px;"><span style="color:blue;font-size: 150%;">{{ user.get_username }}</span> Please fill below details for your request</h2>
  

  <div style="margin:50px;">
  	<form method="POST">
    	{% csrf_token %}
    	<table style="border:solid;">
    		{% for field in form %}
    			<tr style= "margin:100px;border:solid">
 					<td style= "align-text:left;" >
        				<b>{{ field.label_tag }}</b>
        			</td>
        			<td >
        				{% if "request_type" == field.name %}
        					{% for i in field %}
        			 			{{i}}
        					{% endfor %}
        				{% else %}
        					{{field}}
        				{% endif %}
        			</td>
        		</tr>	
        		{% if field.help_text %}
        			<small style="color: grey">{{ field.help_text }}</small>
        		{% endif %}
        		{% for error in field.errors %}
        		  <p style="color: red">{{ error }}</p>
        		{% endfor %}
    		{% endfor %}
    		
    	</table>
    	<div style="margin:50px;margin-left:150px;">
    		<button style= "color:white;margin-top:20px;padding-left:40px;padding-right:40px;font-size:25px;background-color:#0000FF;-webkit-border-radius:28px;-moz-border-radius:28px;" type="submit">Submit</button>
    	</div>
  	</form>
  	{% endif %}
  </div>
{% endblock %}