{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    	{% if "username" == field.name %}

    	{% else %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        
      </p>
      {% endif %}
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}