<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Request lists{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2 style = "margin-bottom:30px;">Hi <span style="color:blue;font-size: 150%;">{{ user.get_username }}</span>, Please check your request and it's status ! </h2>
  	{% if content %}

	<table style = "font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;">
  		<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
    		<th>Request Id</th>
    		<th>Request Type</th>
    		<th>Request Desc</th>
    		<th>Request date</th>
    		<th>status</th>
    		<th>Detailed status</th>
  		</tr>
  		
  		{% for field in content %}
  		<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  			<td>{{field.id}}</td>
    		<td>{{field.request_type}}</td>
    		<td>{{field.request_desc}}</td>
    		<td>{{field.created_at}}</td>
    		<td>{{field.status}}</td>
    		<td><a href="{% url 'movies:view_service_request'%}?data={{field.id}}"> Click </a></td>
  		</tr>
  		{% endfor %} 
  		</table>
  		<p style= "text-align:center;"><button style= "margin-top:20px;padding-left:40px;padding-right:40px;font-size:25px;background-color:#0000FF;-webkit-border-radius:28px;-moz-border-radius:28px;"> <a style="color:white;text-decoration: none;" href="{% url 'movies:service_request' %}"> New Request </a> </button></p>
  		
  	{% elif content_by_id %}
		<div>  
			<table style = "font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;">	
  				<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>Request type</th>
    				<td>{{content_by_id.request_type}}</td>
    			</tr>
    			<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>Request Desc</th>
    				<td>{{content_by_id.request_desc}}</td>
    			</tr>
    			<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>City</th>
    				<td>{{content_by_id.city}}</td>
    			</tr>
    			<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>State </th>
    				<td>{{content_by_id.state}}</td>
    			</tr>
    			<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>Pin Code</th>
    				<td>{{content_by_id.pin_code}}</td>
    			</tr>
    			<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>Alternate Phone Number</th>
    				<td>{{content_by_id.phone_code}}-{{content_by_id.alternate_phone_number}}</td>
    			</tr>
    			<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>Status</th>
    				<td>{{content_by_id.status}}</td>
    			</tr>
    			<tr style = "border: 1px solid #dddddd;  text-align: left;  padding: 8px;">
  					<th>Remarks</th>
    				<td>{{content_by_id.remarks}}</td>
    			</tr>
  			</table>
  		</div>
		<p> <a href="{% url 'movies:view_service_request'%}"> Back </a> </p>
  		
  	{% else %}
  		<p> You dont't have any requested service to view. You can add using below click
  		<p> <a href="{% url 'movies:service_request' %}"> New Request </a> </p>
  	{% endif %}
{% endif %}
{% endblock %}