{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<h2>Login</h2>
		<form method="post">
  			{% csrf_token %}
  			{{ form.as_p }}
  			<button style="margin-left:70px;" type="submit">Submit</button> 
		</form>
		<button  style="margin-top:20px;"><a href="/password_reset"><strong>Forgot Password</strong></a></button>
  		<button><a href="{% url 'movies:register' %}"><strong>Register</strong></a></button>
{% endblock %}