{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h2>Reset Password</h2>
  <p>We have sended you reset password link on your email. Please Check Your Email.</p>
{% endblock %}


